.app-component {
    background-color: orange;
    border: solid;
    margin: 5px;
    padding: 5px;
  }
  
  .bouton {
    background-color: orange;
    margin: 5px;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .w-30 {
    float: left;
    width:10%;
  }
  

  
  .w-70 {
    float: right;
    width: 70%;
  }
  
  .center{
    text-align: center;
    color: orange;
    border-color: orange;
    border-width:2px;
    border-style:solid;
    padding: 5px;
    width: 100%;
  }